{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<title>Viperd Stats</title>
	<link rel="stylesheet" href="/__viperstats/stats.css">
    <script src="/__viperstats/stats.js"></script>

</head>
<body>
	<div class='header'>
		<img src='/__viperstats/logo.png' width='250'>
		<div class='menu'>
			<ul>
				<li><a href='#'>Top Hashes</a></li>
				<li><a href='#'>View Index</a></li>
				<li><a href='#'>View Block Store</a></li>
				<li><a href='#'>Clear Stats</a></li>
				<li><a href='#'>Reset Stats</a></li>
			</ul>	
		</div>
		<div class='clear'></div>
	</div>
{{end}}

{{define "footer"}}
<div class='footer'>
<a href="http://github.com/nickjenkin/viperd">viperd</a>
</div>
</body>
</html>
{{end}}
